*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --mainColor:#Ba1E9C;
    --mainPadding: 5px 100px 5px 80px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--mainPadding);
    box-shadow:0 0 8px 1px rgb(179, 179, 179);
    position: fixed;
    z-index: 2;
    background-color: var(--mainColor);
    color: white;
}
.leftHeader{
    font-size: 30px;
    font-weight: bold;
}
.centerHeader a{
    text-decoration: none;
}
.centerHeader ul{
    list-style-type: none;
    display: flex;
}
.centerHeader ul li{
    margin: 10px;
    cursor: pointer;
}
.centerHeader ul li:hover{
    color: black;

}
.rightHeader i{
    cursor: pointer;
}
.rightHeader i:hover{
    color: black;
}
main{
    display: flex;
    justify-content: space-between;
    height: 640px;
    padding: 70px 20px 10px 80px;
    background-image: url("images/bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 88% 100%;
}
main .leftMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
main .leftMain h1{
    font-size: 50px;
    font-style: italic;
    color: var(--mainColor);
}
main .leftMain h1::first-letter{
    font-size: 80px;
}
.color{
    color: #A41AA7;
}
.color1{
    color: #8E17BD;
}
main .leftMain p{
    width: 550px;
    text-align: justify;
    margin-top: 20px;
}
main .leftMain a{
    background-image: linear-gradient(to right,var(--mainColor),#A41AA7,#8E17BD);
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    margin-top: 100px;
}
main .leftMain a i{
    margin-left: 5px;
    transition: 0.2s;
}
main .leftMain a:hover i{
    transform: translateX(5px);

}
main .centerMain img{
    height: 500px;
}
main .rightMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .rightMain i{
    margin: 5px;
}
main .rightMain i:hover{
    color: var(--mainColor);
    cursor: pointer;
}
.allProduct{
    font-size: 40px;
    color: #A41AA7;;
    text-align: center;
    margin-top: 30px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    padding: var(--mainPadding);
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 1px #8E17BD;
    padding: 15px;
    background-color: rgb(236, 235, 235);
    margin: 20px ;
    position: relative;
}
.products:hover img{
    transform: scale(1.1,1.1);
}

.products img{
    height: 120px;
    margin-bottom: 20px;
    transition: 0.2s;
}
.explainProduct{
    width: 220px;
    text-align: center;
    color: rgb(104, 104, 104);
    margin-top: 10px;
}
.price{
    font-weight: bold;
    margin: 10px 0;
}
.products a{
    text-decoration: none;
    background-image: linear-gradient(to right,#e62ee9,#A41AA7,#8E17BD);
    padding: 7px 15px;
    border-radius: 10px;
    color: black;
}
.Star{
    color: rgb(255, 187, 0);
    margin-bottom: 10px;
}
.arrow , .heart{
    border: 1px solid black ;
    padding: 5px;
    margin: 5px;
}
.doubleIcon{
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.design{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin:100px 0;
}
.design span:first-child{
    color:#9d1ccf;
}
.design span:last-child{
    color: #7916c9;
}
.ExplainProduct{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.leftExplain{
    display: flex;
    
}
.picturesPrd{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picturesPrd img{
    width: 110px;
    background-image: linear-gradient(to left,var(--mainColor),#A41AA7,#8E17BD);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 1px 1px lightgray;
    filter:contrast(70%);
    cursor: pointer;
    margin: 3px;
}
.picturesPrd img:hover{
    filter: contrast(100%);
}
.imgPrd img{
    width: 480px;
    box-shadow: 0 0 4px 3px #7916c9;
    padding: 60px;
    border-radius: 20px;
    margin-left: 30px;
   
}
.rightExplain{
    border-radius: 20px;
    box-shadow: 0 0 4px 3px var(--mainColor);
    width: 550px;
    padding: 20px;
    text-align: justify;
    color: #aa52d3;
}
.shopDiv{
    position: relative;
    margin-bottom: 180px;
}
.shop{
    padding: 10px 15px;
    box-shadow: 0 0 4px 3px var(--mainColor);
    position: absolute;
    left: 670px;
    top: 30px;
    text-decoration: none;
}
.shop:hover{
    background-color: var(--mainColor);
    color:white ;
}
.customers{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.customers .customer{
    border: 1px solid gray;
    box-shadow: 0 0 3px 1px gray;
    padding: 25px;
    border-radius: 10px;
    width: 376px;
    margin: 20px;
    background-color: rgb(236, 236, 236);
}
.customers .customer img{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgb(141, 141, 141);
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.customers .customer img:hover{
    transform: scale(1.1);
}
.customers .customer .top{
    display: flex;
    align-items: center;
}
.customers .customer .bottom{
    text-align: justify;
    margin-top: 10px;
}
.service{
    display: flex;
    justify-content: center;
}
.services{
    width: 200px;
    margin:0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.services i{
    color: rgb(255, 153, 0);
    font-size: 40px;
}
.services p:first-of-type{
    font-weight: bold;
    padding: 10px 0;
}
.services p:last-child{
    color: gray;
}
.login{
    height: 700px;
    background-image: url("images/loging_bg.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.login img{
    width: 500px;
    height: 500px;
}
.login .rightlogin form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}
.login .rightlogin p:first-child{
    font-family: 'Salsa';
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.login .rightlogin button{
    padding: 10px 30px;
    background-image: linear-gradient(to right,var(--mainColor),#A41AA7,#8E17BD);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.login .rightlogin input{
    width: 250px;
    border: 1px solid #8E17BD;
    border-radius: 5px;
    padding: 7px 29px;
}
.Username,.Password{
    position: relative;
}
.lock,.user{
    position: absolute;
    top: 7px;
    left: 10px;
    color: var(--mainColor);

}
.socialMedia{
    display: flex;
    justify-content: center;
}
.socialMedia i{
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #BDB9BB;
}
footer .footers{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}
footer .footers:nth-child(2),footer .footers:nth-child(3){
    align-items: center;
}
.communate{
    display: flex;
}
.communate p{
    margin-left: 10px;
}
footer .footers h3{
    color: #120049;
    margin-bottom: 20px;
}
footer .footers .communate{
    display: flex;
}
.socialmedia i{
    border-radius: 50%;
    padding: 7px;
    background-color: #c4c4c4;
    margin: 2px;
    cursor: pointer;
}
.socialmedia i:hover{
    background-image: linear-gradient(to right,var(--mainColor),#A41AA7,#8E17BD);

}
footer .footers input{
    padding: 7px;
    width: 200px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #dadada;
}
footer .footers .subscribe{
    background-image: linear-gradient(to right,var(--mainColor),#A41AA7,#8E17BD);
    border-radius: 20px;
    padding: 7px 15px;
    color: white;
    font-size: 12px;
    border: none;
    cursor:pointer;
}







@keyframes animIcon{
    0%{
        opacity: 0;
        top: 10px;
        left: 0px;
    }
    100%{
        opacity: 100%;
        top: 10px;
        left: 10px;

    }
}
@keyframes animIcon1{
    0%{
        opacity: 100%;
        top: 10px;
        left: 10px;

    }
    100%{
        opacity: 0%;
        top: 10px;
        left: 0px;

    }
}

