@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import "./pageOfShoes/pageOfShoes.css";
.navbarstyle {
  @apply cursor-pointer m-3 hover:scale-105 ;
}
.services {
  @apply flex justify-center items-center gap-y-3  flex-col text-center;
}
.menuitem {
  @apply bg-[rgba(233,233,233,0.5)] rounded-sm p-1 hover:bg-mainColor hover:text-white;
}

@theme {
  --color-mainColor: rgb(186, 30, 156);
  --spacing-mainPadding: 5px 60px;
  --spacing-mainPadding1: 5px 30px;
  --breakpoint-productPoint: 1100px;
  --breakpoint-productPoint1: 955px;
  --breakpoint-footerPoint: 900px;
  --animate-moveRight: moveRight forwards 0.5s;

  @keyframes moveRight {
    0% {
      opacity: 0;
      top: 10px;
      left: 0px;
    }
    100% {
      opacity: 100%;
      top: 10px;
      left: 10px;
    }
  }
}
